{% extends "layout/base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

<div class="bgMainWrappImage">

    <div class="container">
				{% include "layout/navbar.html" %}

        <div class="row">
            <div class="col-12">
                <div class="wrapHomeSection">
                    <div class="title">
                        <h2>{% trans "FED UP OF... TRAVELLING ALONE?" %}</h2>
                    </div>
                        <form action="{% url 'frontend:trip_search' %}" method="post">{% csrf_token %}
                        <div class="formSection">
                            <div class="form-row">
                                <div class="form-group col-lg-3 ">
                                    <input type="text" class="form-control gmaps-autocomplete" id="inputCity" placeholder="Where do you want to go ?" autocomplete="off">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                                <div class="form-group andOrGroup col-lg-1">
                                    <p>And / Or <span> * </span></p>
                                </div>

                                <div class="form-group col-lg-3 col-md-6">
                                    <input type="text" class="form-control datepicker" id="inputStart" placeholder="Beginning" data-date-format="mm/dd/yyyy">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>

                                <div class="form-group col-lg-3 col-md-6">
                                    <input type="text" class="form-control datepicker" id="inputEnd" placeholder="End" data-date-format="mm/dd/yyyy">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="form-group col-lg-2 text-right col-md-12">
                                    <button type="submit" class="btn btn-primary"> Search </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5> Break down borders together! </h5>

                    <p class="reservation">JOIN THE INTERNATIONAL COTRAVELLER's COMMUNITY AND CHOOSE WITH WHOM YOU GO AWAY... </p>

                    <a class="goodToKnow" href="">* Good to know ?</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="addTripSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title textBlack">
                    <h2> Add Trip  </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center tripSlide">
                <div id="tripSlide" class="owl-carousel">
                    <div class="item">
                        <div class="text">
                            <p>
                                Don’t be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="text">
                            <p>
                                Don’t be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="text">
                            <p>
                                Don’t be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 text-center addTripImg">
                <a href="">
                    <img src="{% static 'res/img/add-trip.png' %}" alt="">
                    <span>
                        <i class="fa fa-plus fa-3x"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="p-text">
                    <p> Cotravelers are looking for same projects... Help them to find you!  </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="bgConcept">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="title">
                    <h2> Concept  </h2>
                </div>

                <div id="concept" class="owl-carousel">
                    <div class="item">
                        <div class="textBlog">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Do not be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="textBlog">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Do not be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="textBlog">
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Do not be fazed by travelling any more, whether you want to go away for
                                the weekend or just on a day out, and give your dreams a boost.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="customNavigation">
                    <a class="btn play">Play</a>
                    <a class="btn stop">Pause</a>
                </div>

                <div class="subtitle">
                    <h3>Alone we think, together we act!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bgcommunity">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="title textBlack">
                    <h2> Community  </h2>
                </div>

                <div class="subtitle">
                    <p>THE GENESIS OF COTRAVELLERS</p>
                </div>

                <p class="text">
                    Connect with persons from the 4 corners of the world, share their experiences and expand your network. Find cotravellers, with potentially the same socio-professional criteria and areas of interest, in order to organise your trips in the best possible conditions. Think Together, think Co, and take off to share your trips, weekends, and others outings.!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bgcounter">
    <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="counter">
                        
                        <h2 class="timer count-title count-number" data-to="185" data-speed="1500">+</h2>
                        <p class="count-text "> Members </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="counter">
                        
                        <h2 class="timer count-title count-number" data-to="2000" data-speed="1500"></h2>
                        <p class="count-text "> Countries </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="counter">
                        
                        <h2 class="timer count-title count-number" data-to="500" data-speed="1500"></h2>
                        <p class="count-text "> Cities </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="counter no-Border">
                        
                        <h2 class="timer count-title count-number" data-to="3000" data-speed="1500"></h2>
                        <p class="count-text "> Nationalities </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bgadvantages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="title">
                        <h2> Advantages  </h2>
                    </div>
                    
                    <div id="advantages" class="owl-carousel">
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                <i class="fa fa-quote-left"></i>                            
                                
                                <ul class="list">
                                    <li>
                                        Share accommodation acosts (eg. additional fees for a double room...).
                                    </li>

                                    <li>
                                        Share additional expenses (taxi, car hire, fuel, tolls...).    
                                    </li>

                                    <li>
                                        More attractive prices for shows, sightseeing, excursions...
                                    </li>
                                </ul>                                
                                
                            </div>
                        </div> 
                        
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                <i class="fa fa-quote-left"></i>                            
                                <ul class="list">
                                    <li>
                                        Share accommodation acosts (eg. additional fees for a double room...).
                                    </li>

                                    <li>
                                        Share additional expenses (taxi, car hire, fuel, tolls...).    
                                    </li>

                                    <li>
                                        More attractive prices for shows, sightseeing, excursions...
                                    </li>
                                </ul>
                            </div>
                        </div> 
    
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                <i class="fa fa-quote-left"></i>                            
                                <ul class="list">
                                    <li>
                                        Share accommodation acosts (eg. additional fees for a double room...).
                                    </li>

                                    <li>
                                        Share additional expenses (taxi, car hire, fuel, tolls...).    
                                    </li>

                                    <li>
                                        More attractive prices for shows, sightseeing, excursions...
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>                   
                        
                    <div class="customNavigation">
                        <a class="btn play">Play</a>
                        <a class="btn stop">Pause</a>
                    </div>
    
                    <div class="subtitle">
                        <h3>Alone we think, together we act!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgGray observationSection">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="title textBlack">
                        <h2> Observations  </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="obvBox">
                        <img src="{% static 'res/img/obv1.png' %}" alt="obv1">
                        <p class="text">
                            Too many people travel alone and remain so for the duration of their trip.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="obvBox">
                        <img src="{% static 'res/img/obv2.png' %}" alt="obv2">
                        <p class="text">
                                Divorce, friends changing their minds, expatriate reintegration and, quite simply, solitude, are often the root-cause of this situation...
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="obvBox">
                        <img src="{% static 'res/img/obv3.png' %}" alt="obv3">
                        <p class="text">
                                Held back by shyness? Do not know anyone to join groups? Lacking motivation? ...Plan ahead and step into the unknown together!
                        </p>
                    </div>
                </div>
            </div>                
        </div>
    </div>

    <div class="bgHowWork">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="title">
                        <h2> How Does It Work?  </h2>
                    </div>
                    <div class="textBlog">                               
                            <i class="fa fa-quote-left"></i>                            
                            <h5>1. 2, 3.. Go!</h5>       
                        </div>
                    
                    <div id="bgHowWork" class="owl-carousel">
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                    
                                
                                <p>
                                    1st step <br/>
                                    Use the search, basic or advanced, in order to find your travel companion: THE COGOFLYER!
                                </p>                          
                                
                            </div>
                        </div> 
                        
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                                        
                                <p>
                                    2nd step <br/>
                                    Use the search, basic or advanced, in order to find your travel companion: THE COGOFLYER!
                                </p>                          
                                
                            </div>
                        </div> 
    
                        <div class="item">                                                    
                            <div class="textBlog">                               
                                                
                                <p>
                                    3rd step <br/>
                                    Use the search, basic or advanced, in order to find your travel companion: THE COGOFLYER!
                                </p>                          
                                    
                            </div>
                        </div> 
                    </div>                   
                        
                    <div class="customNavigation">
                        <a class="btn play">Play</a>
                        <a class="btn stop">Pause</a>
                    </div>
    
                    
                </div>
            </div>
        </div>
    </div>


    <div class="paddingTB70 resultBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="title">
                        <h4> The latest research by destination <span> (74 results)</span>  </h4>
                        <p>You know where to go other people have had the same idea</p>
                    </div>

                    <div id="destination" class="owl-carousel">
                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Melbourne </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 548 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Melbourne.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 7,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Adelaide </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 456 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Adelaide.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 2,151 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Perth </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 592 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Perth.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 9,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                        

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Wollongong </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Wollongong.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                            
                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 


                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                            
                            
                    
                    </div> 

                    <div class="bottomlink">
                        <p>You want to see more, thank you kindly <a href=""> Sign in / Register. </a> </p>
                        <p> Click on the picture to find out who is leaving</p>
                    </div>
            

                </div>
            </div>
        </div>            
    </div>

    <div class="paddingTB70 resultBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="title">
                        <h4> The latest research by Dates <span> (74 results)</span>  </h4>
                        <p>You know where to go other people have had the same idea</p>
                    </div>

                    <div id="dates" class="owl-carousel">
                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Melbourne </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 548 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Melbourne.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 7,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Melbourne </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 548 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Melbourne.png' %}" alt="sydney.png">
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 2,151 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Perth </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 592 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Perth.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 9,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                        

                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>Wollongong </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/Wollongong.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                            
                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 


                        <div class="item">                                                    
                            <a class="resultImageBox">  
                                <div class="topBox">
                                    <h4>sydney </h4>  <img src="{% static 'res/img/flag.png' %}" alt="flag">
                                    <p> <span> 771 </span> Settlements</p>
                                </div>
                                <img src="{% static 'res/img/destination/sydney.png' %}" alt="sydney.png">     
                                
                                <div class="bottomBox">
                                    <div class="offer">
                                        <p>Offers from</p>
                                        <p>$ 5,051</p>
                                    </div>
                                    <div class="price">
                                        <p>Average Price</p>
                                        <p>$ 6,051 </p>
                                    </div>
                                </div>
                            </a>
                        </div> 
                            
                            
                    
                    </div> 

                    <div class="bottomlink">
                        <p>You want to see more, thank you kindly <a href=""> Sign in / Register. </a> </p>
                        <p> Click on the picture to find out who is leaving</p>
                    </div>
            

                </div>
            </div>
        </div>            
    </div>


    <div class="paddingTB70 resultBox">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="title marginB15">
                        <h4> The last registered projects </h4>                            
                    </div>

                    <div id="projects" class="owl-carousel">
                        <div class="item">                                                    
                            <a class="projectsImageBox">                                      
                                <img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png">   
                                <h5>Villa Samuan Modern Balinese villa                                             near Seminyak Beach
                                </h5>
                                <p> $6,051/night average  </p>
                            </a>
                        </div>
                        
                        <div class="item">                                                    
                            <a class="projectsImageBox">                                      
                                <img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png">   
                                <h5>Villa Samuan Modern Balinese villa                                             near Seminyak Beach
                                </h5>
                                <p> $6,051/night average  </p>
                            </a>
                        </div>


                        <div class="item">                                                    
                            <a class="projectsImageBox">                                      
                                <img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png">   
                                <h5>Villa Samuan Modern Balinese villa                                             near Seminyak Beach
                                </h5>
                                <p> $6,051/night average  </p>
                            </a>
                        </div>

                        <div class="item">                                                    
                            <a class="projectsImageBox">                                      
                                <img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png">   
                                <h5>Villa Samuan Modern Balinese villa                                             near Seminyak Beach
                                </h5>
                                <p> $6,051/night average  </p>
                            </a>
                        </div>

                    </div> 

                    <div class="bottomlink">
                        <p>You want to see more, thank you kindly <a href=""> Sign in / Register. </a> </p>
                        <p> Click on the picture to find out who is leaving</p>
                    </div>
            

                </div>
            </div>
        </div>            
    </div>


    <div class="bgGray resultBox partners">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="title textBlack">
                        <h2> Our partners   </h2>
                    </div>
                    <div id="partners" class="owl-carousel">
                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo1.png' %}" alt="logo1">                                       
                                </a>
                            </div>
                            
                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo2.png' %}" alt="logo1">                                    
                                </a>
                            </div>
    
    
                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo3.png' %}" alt="logo1">                                    
                                </a>
                            </div>
    
                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo4.png' %}" alt="logo1">                                    
                                </a>
                            </div>

                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo5.png' %}" alt="logo1">                                    
                                </a>
                            </div>

                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo2.png' %}" alt="logo1">                                    
                                </a>
                            </div>
    
    
                            <div class="item">                                                    
                                <a class="projectsImageBox">                                      
                                    <img src="{% static 'res/img/logo3.png' %}" alt="logo1">                                    
                                </a>
                            </div>
        
    
                        </div> 
                </div>
            </div>

        </div>        
    </div>

    
    <footer class="bgBlack">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="footerLinkList">
                        <li> <a href=""> About Us </a> </li>
                        <li> <a href=""> Skyrock </a> </li>
                        <li> <a href=""> Terms and Conditions </a> </li>
                        <li> <a href=""> Use policy </a> </li>
                    </ul>

                    <ul class="footerLinkList">
                        <li> <a href=""> Testimonial </a> </li>
                        <li> <a href=""> They talk about cogofly </a> </li>
                        <li> <a href=""> Our partners </a> </li>
                        <li> <a href=""> Our blog </a> </li>
                        <li> <a href=""> Contact Us </a> </li>
                    </ul>


                    <div class="shareLink">
                        <p>To love is to share</p>
                        <ul class="shareLinkList">
                            <li class="facebook"> <a href="">  <i class="fa fa-facebook" aria-hidden="true"></i>  </a> </li>
                            <li class="twitter"> <a href="">  <i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
                            <li class="instagram"> <a href="">  <i class="fa fa-instagram" aria-hidden="true"></i> </a> </li>
                            <li class="pinterest"> <a href="">  <i class="fa fa-pinterest" aria-hidden="true"></i> </a> </li>
                            <li class="google"> <a href="">  <i class="fa fa-google-plus" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}