{% extends "layout/base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

	<div class="container">
		{% include "layout/navbar.html" %}

		<div class="searchPage">
				<div class="container">
						<div class="row">
								<div class="col-lg-6">
										<div class="searchFormInput">
												<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
												<i class="fa fa-search" aria-hidden="true"></i>
										</div>
								</div>
						</div>
				</div>

				<div class="row">
						<div class="col-lg-12">
								<div class="title marginB15">
										<h4> 300+ places to stay </h4>
								</div>

								<div id="" class="searchList">
										<div class="searchitem">
												<div id="" class="searchimg owl-carousel">
														<div class="item">
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>
												</div>    

												<a href="#" class="">      
														<div class="rating">
																<i class="fa fa-star" aria-hidden="true"></i>
																<span> 4.5 </span>
														</div>  
														<p class="roomType"> Entire apartment · 2 beds </p>
														<h5>Villa Samuan · Modern Balinese villa   near Seminyak Beach  </h5>
														<h6> ₹2,911 <span> / night </span>  </h6>
														<p> ₹49,007 total  </p>
												</a>
										</div>

										<div class="searchitem">    
												<div id="" class="searchimg owl-carousel">
														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>
												</div>    

												<a href="#" class="">      
														<div class="rating">
																<i class="fa fa-star" aria-hidden="true"></i>
																<span> 4.5 </span>
														</div>  
														<p class="roomType"> Entire apartment · 2 beds </p>
														<h5>Villa Samuan · Modern Balinese villa   near Seminyak Beach  </h5>
														<h6> ₹2,911 <span> / night </span>  </h6>
														<p> ₹49,007 total  </p>
												</a>
										</div>

										<div class="searchitem">    
												<div id="" class="searchimg owl-carousel">
														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>
												</div>    

												<a href="#" class="">      
														<div class="rating">
																<i class="fa fa-star" aria-hidden="true"></i>
																<span> 4.5 </span>
														</div>  
														<p class="roomType"> Entire apartment · 2 beds </p>
														<h5>Villa Samuan · Modern Balinese villa   near Seminyak Beach  </h5>
														<h6> ₹2,911 <span> / night </span>  </h6>
														<p> ₹49,007 total  </p>
												</a>
										</div>

										<div class="searchitem">    
												<div id="" class="searchimg owl-carousel">
														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>
												</div>    

												<a href="#" class="">      
														<div class="rating">
																<i class="fa fa-star" aria-hidden="true"></i>
																<span> 4.5 </span>
														</div>  
														<p class="roomType"> Entire apartment · 2 beds </p>
														<h5>Villa Samuan · Modern Balinese villa   near Seminyak Beach  </h5>
														<h6> ₹2,911 <span> / night </span>  </h6>
														<p> ₹49,007 total  </p>
												</a>
										</div>

										<div class="searchitem">    
												<div id="" class="searchimg owl-carousel">
														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>

														<div class="item">  
																<img src="{% static 'res/img/projects/project1.png' %}" alt="project1.png"> 
														</div>
												</div>    

												<a href="#" class="">      
														<div class="rating">
																<i class="fa fa-star" aria-hidden="true"></i>
																<span> 4.5 </span>
														</div>  
														<p class="roomType"> Entire apartment · 2 beds </p>
														<h5>Villa Samuan · Modern Balinese villa   near Seminyak Beach  </h5>
														<h6> ₹2,911 <span> / night </span>  </h6>
														<p> ₹49,007 total  </p>
												</a>
										</div>
								</div> 
						</div>
				</div>
		</div>            
	</div> 

{% endblock %}