{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cogofly</title>

        <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200,300,400,500,700,800,900|Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'res/lib/bootstrap/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'res/lib/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'res/lib/owl-carousel/owl.theme.css' %}">

        <link rel="stylesheet" href="{% static 'res/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'res/css/media.css' %}">

    </head>
<body>

    {% block content %} {% endblock content %}

    <div class="copyright">
        <p>Copyright 2019 - Cogofly - All rights reserved. </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="{% static 'res/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'res/lib/bootstrap/js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'res/lib/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'res/js/main.js' %}"></script>

</body>
</html>
